.seminar-container {
        width: 100%;
        height: auto;
        align-items: center;
        align-self: center;
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-bottom: auto;

        &__left {
            flex-grow: 1;
            display: flex;
            height: 700px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            overflow-y: auto;
            width:60%;

            .seminar-content {
                width: 70%;
                height: 100%;
                margin-bottom: 10vh;
                display: flex;
                justify-content: center;
                align-self: center;
                align-items: center;
            }
        }

        &__right {
            width: 20%;
            height: 700px;
            border: 1px 0px 0px 0px solid gray;
            padding-left: 2vh;
            padding-right: 5vh;
           /* background: linear-gradient(to bottom, #e0e9ed, transparent);*/

        }
    }

    .seminar-container__left::-webkit-scrollbar {
        width: 3px;
    }

    .seminar-container__left::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, var(--color-blue), transparent);
        border-radius: 6px;
    }

    .seminar-container__left::-webkit-scrollbar-thumb:hover {
        background: var(--color-light-blue);
        height: 20%;
    }