body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
	--color-blue: #0056b3;
  --color-dark-blue: #071952;
  --color-light-blue:#088395;
	--color-brown: #5c2018;
	--color-orange: #bc4639;
	--color-lightBrown: #d4A59A;
  --color-grey:#f3e0dc;
  --text-color:black;
}
