.profil-container {
    width: 100%;
    height: auto;
    display: flex;
    align-self: flex-start;
    gap: 30px;
    margin-bottom: auto;

    &__left {
        height: 700px;
        width: 20%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: auto;
        //margin-left: 10vh;
        background: linear-gradient(to bottom, #e0e9ed, transparent);

        .text-component{
            color:var(--footer-bg-color);

            &:hover{
                color:var(--color-blue);
            }

            &__activeText{
                color:var(--color-blue);
            }
        }
    }

    &__right {
        width: 70%;
        height: 100%;
        padding-left: 2vh;
        padding-right: 5vh;
        margin-top:5vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        align-items: flex-start;


        .profil-content {
            width: 100%;
            height: 100%;
            justify-content:flex-start;
            align-items: flex-start;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

        .admin-content{
            width: 100%;
            height: 100%;
            justify-content: flex-start;
            align-items: flex-start;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

    }
}
