.profil-container {
    width: 100%;
    height: auto;
    align-items: center;
    align-self: center;
    display: flex;
    gap: 30px;
    margin-bottom: auto;

    &__left {
        height: 700px;
        width: 15%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: auto;
        margin-left: 10vh;
        background: linear-gradient(to bottom, #e0e9ed, transparent);
    }

    &__right {
        width: 70%;
        height: 100%;
        padding-left: 2vh;
        padding-right: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .profil-content {
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

    }
}

.activeText {
    color: var(--color-blue);
}

.text-component:hover {
    color: var(--color-light-blue);
}