.admin-container {
    width: 100%;
    height: 89.8vh;
    display: flex;
    align-self: flex-start;
    gap: 30px;
    overflow: hidden;

    &__left {
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: auto;
        padding-left: 5vh;
        background: var(--footer-bg-color);
        color:white;
    }

    &__right {
        width: 90%;
        height: 100%;
        padding-left: 2vh;
        padding-right: 5vh;
        padding-top:5vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        align-items: flex-start;

        .admin-content{
            width: 100%;
            height: 100%;
            justify-content: flex-start;
            align-items: flex-start;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

    }
}

.activeText {
    color: var(--color-blue);
}

.text-component:hover {
    color: var(--color-light-blue);
}