.login {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 5vh;
   
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50ch;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-label {
    display: block;
    margin-bottom: 6px;
    font-size: 12px;
}

.login-input {
    width: 100%;
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-btn {
    display: block;
    width: 30%;
    padding: 10px;
    background-color: var(--color-orange);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5%;

}

.login-btn:hover {
    background-color: #0056b3;
}

.register-btn {
    display: block;
    width: 30%;
    padding: 10px;
    background-color: #fff;
    border: 2px solid var(--color-orange);
    color: var(--color-orange);
    border-radius: 4px;
    cursor: pointer;
}

.register-btn:hover {
    background-color: var(--color-orange);
    color: #fff;
}

.form-group {
    margin-bottom: 20px;
}

.button-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

@media screen and (max-width:1024px) {
    .login-container {
        width: 30ch;
    }


    .login-btn {
        display: block;
        width: 40%;
        font-size: 10px;
        padding: 10px;
    }

    .register-btn {
        font-size: 10px;
        width: 40%;
    }
}