.content {
  display: flex;
  justify-self: center;
  align-items: center;
  margin: auto;
  background-color: #fff;

  .card {
    flex: 1;
    margin:auto;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    &:hover{
      transform: scale(1.1);
      box-shadow: 0px 0px 15px 0px;
    }

    &__text {
      height: 100px;
      width: 90%;
      overflow: hidden;
      margin-bottom: 20px;
    }

    &__button {
      margin-bottom: 20px;

      button {
        padding: 0.5rem;
        border: none;
        transition: 0.2s;
        margin-bottom: 0.5rem;
        border-radius: 3px;

        &:hover{
          background-color: var(--color-dark-blue);
          color:white;
        }
      }
    }

    img {
      width: 100%;
      height: auto;
    }

    h4 {
      margin-top: 10px;
      margin-left: 10px;
      font-size: 18px;
    }

    p {
      font-size: 15px;
      color: #6e6e6e;
      line-height: 1.5;
      padding: 10px;
    }
  }

  &:first-child {
    @media screen and (min-width:1270px) {
      grid-column: span 3;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
      .card{
        box-shadow: none;
        &:hover{
          transform: none;
          box-shadow: none;
        }
        .card-image-container{
          height:300px;
          width: 100%;
          overflow: hidden;

          img{
            overflow: hidden;
          }
        }

        h4 {
          font-size:32px;
        }

        &__text {
          height: 50px;
          width: 100%;
          margin-bottom: 10px;
        }
    
        &__button {
          margin-bottom: 40px;
    
          button {
            padding: 0.5rem;
            background-color: var(--color-light-blue);
            color:white;
            border: none;
            transition: 0.2s;
            margin-bottom: 0.5rem;
            border-radius: 3px;
            font-size:18px;
            width: 20%;
    
            &:hover{
              background-color: var(--color-dark-blue);
              color:white;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  @media screen and (min-width: 1080px) {
    .news{
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); // Adjust minmax values as needed
    }
  }
}