.news-container {
  background-color: transparent;
  width: 70%;
  align-items: center;
  align-self: center;
  position: relative;

  @media screen and (max-width:1279px){
    margin-top:5%;
  }

  .news {
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 60px;
    row-gap: 45px;

    @media screen and (max-width: 768px) and (max-width: 1279px){
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); // Adjust minmax values as needed
    }

    @media screen and (min-width: 1280px) {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // Adjust minmax values as needed
    }
  }
}